
<section>
    <h1>
        <a href="/">メモアプリ</a>
    </h1>
</seciton>
<section>
    <form action="/memo" method="POST">
        <div class="newmemo">
            <input class="title-new-memo" name="title" required>
            <textarea class="content-new-memo" name="content" required></textarea>
            <input class="add-new-memo" type="submit" value="追加">
        </div>
    </form>
</section>
