
<section>
    <h1>
        <a href="http://localhost:4567/">メモアプリ</a>
    </h1>
</section>
<section>
    <p class="title-show-font"><%= @title %></p>
    <% @contents.each do |content| %>
        <p><%= content %></p>
    <% end %>
    <div class="button-show-layout">
        <form class="button-show-update" action="/memo/edit/<%= @filename %>" method="GET">
            <input type="submit" value="更新">
        </form>
        <form action="/memo/<%= @filename %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="削除">
        </form>
     </div>
</section>
