
<section>
    <div class="addbotan-position">
        <h1>
            <a href="./">メモアプリ</a>
        </h1>
        <button class="add-botan" type=“button” onclick="location.href='./memo/new'">追加</button>
    </div>
</section>
<section>
    <ul>
        <% @titles.zip(@memolist) do |title,filename| %>
            <li>
                <a href="./memo/<%= filename %>"><%= title %></a>
            </li>
        <% end %>
    </ul>
</section>
